[Unit]
Description=Rainwave Streamer (station %i)
Wants=network.target
Requires=rainwave-backend.service
After=rainwave-backend.service

[Service]
Type=simple
User=rainwave
Group=www-data
WorkingDirectory=/home/rainwave/streamer
ExecStart=/usr/bin/env uv run python src/main.py --sid %i
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
